<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body">
                    <h1 class="text-center text-success mb-4">Sobre Nós</h1>
                    <p class="text-justify">
                        Bem-vindo à <strong>Vitalis Aromas</strong>, uma loja dedicada a trazer o poder da natureza
                        diretamente para você!
                        Fundada com a missão de promover o bem-estar e a sustentabilidade, nossa loja oferece uma linha
                        completa de produtos
                        orgânicos e artesanais, cuidadosamente selecionados para cuidar de você e do meio ambiente.
                    </p>
                    <p class="text-justify">
                        Desde óleos essenciais puros e velas aromáticas até sabonetes artesanais e difusores de aromas,
                        cada produto é feito com
                        ingredientes naturais e um amor incomparável pelo processo artesanal. Acreditamos que a natureza
                        é um presente valioso,
                        e é nosso compromisso compartilhar esse presente com você, proporcionando momentos de
                        relaxamento, energia positiva e saúde.
                    </p>
                    <p class="text-justify">
                        Aqui na Vitalis Aromas, o respeito pelo meio ambiente é parte essencial do nosso trabalho. Por
                        isso, utilizamos embalagens
                        ecológicas e buscamos reduzir nosso impacto ambiental em todas as etapas da produção. Quando
                        você escolhe nossos produtos,
                        não está apenas investindo em sua saúde e bem-estar, mas também contribuindo para um mundo mais
                        sustentável.
                    </p>
                    <p class="text-justify">
                        Nossa equipe está aqui para garantir que você tenha uma experiência única e enriquecedora com
                        cada compra. Estamos comprometidos
                        em fornecer um atendimento personalizado, ajudando você a encontrar os produtos ideais para suas
                        necessidades. Seja para relaxar
                        após um dia longo ou para criar um ambiente acolhedor em sua casa, você pode contar com a
                        Vitalis Aromas.
                    </p>
                    <p class="text-justify">
                        Estamos empolgados em fazer parte da sua jornada em busca de equilíbrio e harmonia. Visite nossa
                        loja e descubra como nossos
                        produtos podem transformar o seu dia a dia com o poder da natureza. Obrigado por escolher a
                        Vitalis Aromas!
                    </p>
                    <h2 class="text-center text-success mt-4">Estamos aqui para você!</h2>
                </div>
            </div>
        </div>
    </div>

    <p class="text-center mt-4 mb-1"><b>RA: </b>235751</p>
    <p class="text-center"><b>Nome: </b>Thomas Janoski Soares da Silveira</p>
</div>